.main-container {
    margin-top: 50px;
}

body {
  font-family: didact-gothic, sans-serif;
  letter-spacing: 1.2px;
  /*background-size: cover;
  background-repeat: no-repeat;*/
  background-color: #000;
  background-image: url(../images/duotoneweb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* navbar */
.navbar-inverse {
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  background: rgba(0,0,0, 0.5);
  border-color: none;
  outline: 0;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background: rgba(0,0,0, 0.9);
  border-color: none;
  outline: 0;
}

.top-nav-collapse {
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  padding: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  background: #000;
}

.top-nav-collapse .navbar-nav>.active>a, .top-nav-collapse .navbar-nav>.active>a:focus, .top-nav-collapse .navbar-nav>.active>a:hover{
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  background: grey;
  border-color: none;
  outline: 0;
}

/*forms*/
.checkbox:first-of-type, .radio:first-of-type {
  margin-top:0px;
}

/*images*/
.img-main {
  margin-bottom: 50px;
}

/*homepage typography*/
.home-col{
  margin-top: 685px;
  background-color:white;
}
.home-title {
  font-weight: 700;
  background-color:white;
  padding-left: 25px;
  padding-top: 10px;
}
.home-p {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

/*concept page*/
.conc-img {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.conc-txt {
  margin-bottom: 20px;
  margin-top: 50px;
}

/*general typography*/
.title {
  font-weight: 700;
}

/*container background*/
.cont-back {
  background-color: white;
  padding: 0px 50px 25px;
}

/*contact page div*/
.contact-div {
  height: 95vh;
}
